asgiref==3.12.1
chardet==7.6.0
dj-database-url==3.1.2
Django==5.0.1
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
et_xmlfile==2.0.0
gunicorn==26.2.0
openpyxl==3.1.2
pillow==12.3.0
psycopg2-binary==2.9.10
PyJWT==2.15.1
python-dotenv==1.0.0
pytz==2026.4
reportlab==4.0.8
sqlparse==0.6.0
whitenoise==6.12.0
